html, body{
	font-family: 'Montserrat', sans-serif;
}
.error{
	color: #FF0000;
}

/*Textos*/
.txt-negro{
	color: #000000;
}
.txt-gris{
	color: #CCCCCC;
}
.txt-blanco,
.txt-blanco-hover:hover,
.txt-blanco-hover:active,
.txt-blanco-hover:focus{
	color: #FFFFFF;
}
.txt-rojo,
.txt-rojo-hover:hover,
.txt-rojo-hover:active,
.txt-rojo-hover:focus{
	color: #FF0000;
}
.txt-azul,
.txt-azul-hover:hover,
.txt-azul-hover:active,
.txt-azul-hover:focus{
	color: #01A0E2;
}
.txt-amarillo,
.txt-amarillo-hover:hover,
.txt-amarillo-hover:active,
.txt-amarillo-hover:focus{
	color: #FFCC00;
}
.txt-verde,
.txt-verde-hover:hover,
.txt-verde-hover:active,
.txt-verde-hover:focus{
	color: #1ABB9C;
}
.txt-azul-oscuro,
.txt-azul-oscuro-hover:hover,
.txt-azul-oscuro-hover:active,
.txt-azul-oscuro-hover:focus{
	color: #005695;
}
.txt-azul-oscuro-2,
.txt-azul-oscuro-2-hover:hover,
.txt-azul-oscuro-2-hover:active,
.txt-azul-oscuro-2-hover:focus{
	color: #152B76;
}
.texto-sin-sombra{
	text-shadow: none;
}
.txt-negrita{
	font-weight: bold;
}
/*Botones*/
.btn,
.input-group-addon{
	border-radius: 0px; 
}
.btn-azul,
.btn-azul-hover:hover,
.btn-azul-hover:active,
.btn-azul-hover:focus{
	background-color: #01A0E2;
	color: #FFFFFF;
}
.btn-azul-oscuro,
.btn-azul-oscuro-hover:hover,
.btn-azul-oscuro-hover:active,
.btn-azul-oscuro-hover:focus{
	background-color: #005695;
	color: #FFFFFF;
}
.btn-amarillo,
.btn-amarillo-hover:hover,
.btn-amarillo-hover:active,
.btn-amarillo-hover:focus{
	background-color: #FFA000;
	color: #141414;
}
.btn-negro,
.btn-negro-hover:hover,
.btn-negro-hover:active,
.btn-negro-hover:focus{
	background-color: #141414;
	color: #FFFFFF;
}

/* Fondos */
.fondo-azul{
	background-color: #01A0E2;
}
.fondo-azul-oscuro{
	background-color: #005695;
}
.fondo-turquesa{
	background-color: #9CEDF1;
}
.fondo-gris{
	background: #F7F7F7;
}
.fondo-opacidad{
	background: rgba(0, 0, 0, 0.3);
}
.fondo-negro-1{
	background-color: #0A0A0A;
}
.fondo-negro-2{
	background-color: #141414;
}
.fondo-negro-3{
	background-color: #262626;
}
.fondo-amarillo{
	background-color: #FFA000;
}

/*Bordes*/
.borde-azul{
    border: 1px solid #01A0E2;
}
.borde-azul-oscuro{
    border: 1px solid #1E508F;
}
/*************************************/
body{
	background: #F7F7F7;
}
body .container.body .right_col{
}
.site_title{
	font-size: 18px;
}
/* Modificación al template Gentelella */
.login_content h1{
	font-family: 'Montserrat', sans-serif;
}
.login{
	background-image: url("../img/arquero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.left_col{
	background-color: #141414;
	/*background-image: url("../img/tes1.jpg");*/
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
#content form .submit,
.login_content form input[type=submit]{
	float: inherit;
    margin-left: inherit;
}
.nav_title{
	background: #0A0A0A;
}
.nav_menu{
	background: #141414;
	border-bottom: 1px solid #0A0A0A;
}
.nav_menu .nav.toggle a{
	color: #FFCC00;
}
.nav.child_menu>li>a,
.nav.side-menu>li>a{
	color: #E7E7E7;
}
.nav_menu .nav.toggle a:hover,
.nav_menu .nav.toggle a:active,
.nav_menu .nav.toggle a:focus{
	color: #FFFFFF;
}
.nav.side-menu>li.active>a,
.nav.side-menu>li.active>a:hover,
.nav.side-menu>li.active>a:active,
.nav.side-menu>li.active>a:focus{
	background: #262626;
	color: #FFFFFF !important;
}
.main_menu span.fa{
	color: #FFFFFF !important;
}
.nav.child_menu>li>a:hover{
	color: #FFFFFF;
}
.nav-md ul.nav.child_menu li:before{
	background: #FFCC00;
}
.nav.side-menu>li.active,
.nav.side-menu>li.current-page{
	border-right: 5px solid #FFCC00;
}
.nav-md ul.nav.child_menu li:after{
	border-left: 1px solid #FFA000;
}
.nav.navbar-nav>li>a{
	background: #FFCC00;
	color: #000000 !important;
}
.navbar-nav .open .dropdown-menu{
	border: 1px solid #0A0A0A;
	border-radius: 0px;
	background-color: #262626;
	color: #FFFFFF;
}
.dropdown-menu>li>a{
	color: #FFFFFF;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	background-color: #FFA000;
	color: #141414;
}
.top_nav .nav .open>a,
.top_nav .nav .open>a:focus,
.top_nav .nav .open>a:hover,
.top_nav .nav>li>a:focus,
.top_nav .nav>li>a:hover{
	background: #FFA000;
    color: #141414 !important;
}
.footer{
	background: #F3F4F6;
}
.sidebar-footer{
	background: #0A0A0A;
}
.sidebar-footer a{
	background: #FFCC00;
	color: #141414;
}
.sidebar-footer a:hover{
	background: #141414; 
	color: #FFFFFF;
}
.profile_info span{
	color: #FFCC00;
}
/*************************/
.login_content form input[type="text"],
.login_content form input[type="email"],
.login_content form input[type="password"]{
	background-color: transparent;
	border: 1px solid #141414;
	text-align: center;
    box-shadow: none;
    border-radius: 0px;
    color: #FFFFFF;
}

.login_content form input[type="text"]:hover,
.login_content form input[type="text"]:active,
.login_content form input[type="text"]:focus,
.login_content form input[type="email"]:hover,
.login_content form input[type="email"]:active,
.login_content form input[type="email"]:focus,
.login_content form input[type="password"]:hover,
.login_content form input[type="password"]:active,
.login_content form input[type="password"]:focus{
	background-color: transparent;
	border: 1px solid #FFA000;
}
input:-webkit-autofill {
	transition: all 5000s ease-in-out 0s;
}
/*************************/
.login_content{
	text-shadow: none;
	color: #FFFFFF;
}
.login_content a{
	color: #FFFFFF;
}
.login_content h1:before,
.login_content h1:after{
	background: #FFFFFF;
}

.panel_toolbox>li{
	float: right;
}

#nprogress .bar{
	background: #1ABB9C;
}

.x_panel{
	border: 1px solid #0A0A0A;
    border-radius: 0px;
    background-color: #262626;
    padding: 0px;
}
.x_panel > .x_title{
	padding: 10px;
	border-bottom: 1px solid #FFCC00;
	margin-bottom: 0px;
	background-color: #141414;
}
.x_panel > .x_content{
	background-color: #262626;
	margin-top: 0px;
	padding: 0px;
}
.x_title h2{
	color: #FFFFFF;
}
.x_title h2 small{
	color: #FFCC00;
	font-weight: 300;
}
.fondo-imagen{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.fondo-transparencia-negro-1{
	background-color: rgb(38,38,38);
	background-color: rgba(38,38,38,0.6);
}
.fondo-imagen.fondo-1{
	background-image: url("../img/main-slider-img1.jpg");
}
.fondo-imagen.fondo-2{
	background-image: url("../img/main-slider-img2.jpg");
}
.fondo-imagen.fondo-3{
	background-image: url("../img/home-about-bg.jpg");
}

/* Tags*/
span.tag{
	background-color: #01A0E2;
	color: #FFFFFF;
}
.tagsinput input{
	width: 120px;
}
.tag:after{
	border-left: 11px solid #01A0E2;
}

.modal-content{
	border-radius: 0px;
}
.modal-content .modal-header{
	background: #1E508F;
	border-bottom: 1px solid #B6E3FF;
	color: #B6E3FF;
}
.modal-content .modal-header .close{
	color: #B6E3FF;
	opacity: 1;
}
.modal-content .modal-header .close:hover,
.modal-content .modal-header .close:active,
.modal-content .modal-header .close:focus{
	color: #FFFFFF;
}
.tile-stats{
	border: 1px solid #0A0A0A;
	border-radius: 0px;
	background-color: #262626;
}
.tile-stats .icon,
.tile-stats:hover .icon i{
    color: #FFCC00;
}
.tile-stats h3{
    color: #FFCC00;
}
.tile-stats .count,
.tile-stats p{
    color: #F2F2F2;
}
/*
	Otros
*/
.borde-transparente{
	border: 5px solid #FFFFFF;
	border: 5px solid rgba(0,0,0,.1);
}

.login_content form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #CCCCCC;
}
.login_content form input::-moz-placeholder { /* Firefox 19+ */
	color: #CCCCCC;
}
.login_content form input:-ms-input-placeholder { /* IE 10+ */
	color: #CCCCCC;
}
.login_content form input:-moz-placeholder { /* Firefox 18- */
	color: #CCCCCC;
}
.tabla-partidos{
	margin-top: 5px;
	margin-bottom: 10px;
}
.tabla-partidos>tbody>tr>td,
.tabla-partidos>tbody>tr>th,
.tabla-partidos>tfoot>tr>td,
.tabla-partidos>tfoot>tr>th,
.tabla-partidos>thead>tr>td,
.tabla-partidos>thead>tr>th{
	border: none;
}
.tabla-partidos.tabla-partidos-apuestas>thead:first-child>tr:first-child>th,
.tabla-partidos.tabla-partidos-apuestas>tbody>tr>td,
.tabla-partidos.tabla-partidos-apuestas>tbody>tr>th,
.tabla-partidos.tabla-partidos-apuestas>tfoot>tr>td,
.tabla-partidos.tabla-partidos-apuestas>tfoot>tr>th,
.tabla-partidos.tabla-partidos-apuestas>thead>tr>td,
.tabla-partidos.tabla-partidos-apuestas>thead>tr>th{
	border: 1px solid #FFCC00;
}
.tabla-partidos.table-hover>tbody>tr:hover{
	background-color: rgb(20,20,20);
	background-color: rgba(20,20,20,0.6);
}
.tabla-partidos.tabla-partidos-apuestas .info-partido .date{
	border: none;
}

.centrado-vertical{
	vertical-align: middle !important;
}

.info-partido .date{
    width: 50px;
    border-radius: 0px;
    padding: 5px;
    border: 1px solid #FFA000;
    text-align: center;
    margin: 0 auto;
}
.info-partido .date .day,
.info-partido .date .month,
.info-partido .date .year,
.info-partido .date .time{
    margin: 0;
    text-align: center;
}
.info-partido .date .day {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    color: #FFCC00;
    margin-top: 2px;
    margin-bottom: 2px;
}
.info-partido .date .month {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}
.info-partido .date .year {
    font-size: 10px;
    line-height: 10px;
    font-weight: 300;
    color: #FFFFFF;
}
.info-partido .date .time {
    font-size: 10px;
    line-height: 10px;
    font-weight: 300;
    color: #FFFFFF;
}
.info-partido .nombre-pais{
	font-size: 18px;
	font-weight: 300;
}
.info-partido .bandera-normal{
	font-size: 25px;
}
.info-partido .bandera-md{
	font-size: 16px;
}
.info-partido .texto-resultado{
	font-size: 30px;
	font-weight: 700;
}

.contenedor-tabla{
	overflow: auto;
}